.imagem-produto {
    display: block; /* Garante que a imagem ocupe sua própria linha */
    max-width: 100%; /* Garante que a imagem seja responsiva */
    height: auto; /* Mantém a proporção */
    width: 40%; /* Largura desejada para a imagem (ajuste conforme necessário) */
    margin: 0 auto 1.5rem auto; /* Centraliza e adiciona margem inferior */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}

.info-produto {
  display: flex;
  text-align: center;
}

.botao-editar {
  background-color: #1b86ff;
}

.botao-excluir {
  background-color: #ff4646;
}
